.Input {
	BORDER-BOTTOM: #a4a9c1 1px solid; BORDER-LEFT: #a4a9c1 1px solid; BACKGROUND-COLOR: #eeeeee; FONT-SIZE: 12px; BORDER-TOP: #a4a9c1 1px solid; BORDER-RIGHT: #a4a9c1 1px solid
}
.BUTTON {
	BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BACKGROUND-COLOR: #dddddd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 23px; COLOR: #555555; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid
}
.J_Input {
	BORDER-BOTTOM: #a4a9c1 1px solid; BORDER-LEFT: #a4a9c1 1px solid; BACKGROUND: #ffffff; FONT-SIZE: 11px; BORDER-TOP: #a4a9c1 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #a4a9c1 1px solid
}
.J_Cell {
	BORDER-BOTTOM: #94b4f4 1px solid; BORDER-LEFT: #94b4f4 1px solid; BORDER-TOP: #94b4f4 1px solid; BORDER-RIGHT: #94b4f4 1px solid
}
.J_WenZhang {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_WenZhang:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff6600; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_WenZhang_U {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.J_WenZhang_U:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff6600; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.J_WenZhang_B {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_WenZhang_13 {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_WenZhang_13:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_VM_NianJuanQi {
	LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_VM_FenLei {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_VM_FenLei:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #2C7DCA; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_VM {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_VM:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff6600; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.J_VM_LanSe {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #1963aa; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_VM_LanSe:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff6600; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.J_VM_TABLE {
	BORDER-BOTTOM: #94b4f4 1px solid; BORDER-LEFT: #94b4f4 1px solid; BORDER-TOP: #94b4f4 1px solid; BORDER-RIGHT: #94b4f4 1px solid
}
.J_ZhaiYao_QiKanXinXi {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_ZhaiYao_LianJie {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.J_ZhaiYao_FenLei {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #996600; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_ZhaiYao_ShuXingDaLei {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_ZhaiYao_ShuXingLei {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_ZhaiYao_ShuXingXiaoLei {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.J_ZhaiYao_BiaoTi {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_ZhaiYao_ZuoZhe {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.J_ZhaiYao {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.J_CaiDan {
	LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.J_CaiDan:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.J_CaiDan:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.J_CaiDan:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.J_CaiDan:active {
	TEXT-DECORATION: none
}
.td_zy {
	BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #003366; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
A:active {
	COLOR: #003366; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.k2 {
	COLOR: #00756e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.k2:active {
	COLOR: #00756e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.k2:hover {
	COLOR: #00756e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.k2:link {
	COLOR: #00756e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.k2:visited {
	COLOR: #00756e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:active {
	COLOR: #303030; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #006600; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:link {
	COLOR: #303030; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:visited {
	COLOR: #303030; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.tztg:active {
	COLOR: #2c4369; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.tztg:hover {
	COLOR: #2c4369; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.tztg:link {
	COLOR: #294a82; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.tztg:visited {
	COLOR: #2c4369; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.txt_2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666
}
.td4 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
TD {
	LINE-HEIGHT: 21px
}
.td2 {
	BORDER-BOTTOM: #cccccc 1px; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px; BORDER-RIGHT: #cccccc 1px solid
}
BODY {
	COLOR: #000000; FONT-SIZE: 12px
}
body,td,th {
	font-size: 12px;
	color: #000000;
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
.STYLE3 {
	COLOR: #fb8228; FONT-WEIGHT: bold
}
.l {
	COLOR: #0f2e7e; FONT-SIZE: 15px; TEXT-DECORATION: none
}
A.l:link {
	COLOR: #3862a0; FONT-SIZE: 15px; TEXT-DECORATION: none
}
A.l:visited {
	COLOR: #0f2e7e; FONT-SIZE: 15px; TEXT-DECORATION: none
}
A.l:active {
	COLOR: #0f2e7e; FONT-SIZE: 15px; TEXT-DECORATION: none
}
A.l:hover {
	COLOR: #ff6633; FONT-SIZE: 15px; TEXT-DECORATION: underline
}
A.txt_bs:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.txt_bs:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.txt_bs:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.txt_bs:active {
	TEXT-DECORATION: none
}
.txt_bs {
	COLOR: #ffffff; FONT-SIZE: 13px
}

.txt_lm {color: #003333; font-weight: bold; }
A.txt_lm:hover {
	color: #FF0000;
	font-weight: bold;
	text-decoration: underline;
}
A.txt_lm:link {
	color: #003333;
	font-weight: bold;
}
A.txt_lm:visited {color: #003333; font-weight: bold;}
A.txt_lm:active {color: #003333; font-weight: bold;}

BODY {
	BACKGROUND-COLOR: #ccccce; MARGIN: 0px
}
.td41 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}

.tdz {
	BORDER-BOTTOM: #b7d0ef 1px solid; BORDER-LEFT: #b7d0ef 1px solid; BORDER-TOP: #b7d0ef 1px solid; BORDER-RIGHT: #b7d0ef 1px solid
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.style8 {
	font-size: 13px;
	font-weight: bold;
}
.style9 {font-size: 13px}
.style10 {
	color: #990000;
	font-weight: bold;
}
.lm {
	color: #000000;
	font-weight: bold;